@layer components {
  .public-root {
    @apply flex min-h-screen flex-col;
  }

  /* HEADER */
  .public-header {
    @apply fixed top-0 right-0 left-0 z-50 flex items-center justify-between bg-background/80 px-10 py-6 backdrop-blur;
  }

  .public-logo {
    @apply text-lg font-semibold tracking-tight;
  }

  .public-nav {
    @apply flex items-center gap-6 text-sm;
  }

  .public-nav a {
    @apply text-muted-foreground transition hover:text-foreground;
  }

  /* BASE NAV LINK */
  .public-nav-link {
    @apply inline-block rounded-sm border border-transparent px-2 py-1 text-sm leading-normal text-[#1b1b18] transition hover:border-[#19140035] dark:text-[#EDEDEC] dark:hover:border-[#3E3E3A];
  }

  /* CTA / PRIMARY NAV BUTTON */
  .public-nav-cta {
    @apply inline-block rounded-sm border border-[#03718d44] bg-primary px-5 py-1.5 text-sm leading-normal font-medium text-primary-foreground transition hover:border-[#1915014a] dark:border-[#3E3E3A] dark:text-[#EDEDEC] dark:hover:border-[#62605b];
  }

  /* CONTENT OFFSET (karena header fixed) */
  .public-content {
    @apply pt-24;
  }

  /* FOOTER */
  .public-footer {
    @apply mt-auto flex items-center justify-between border-t border-border px-10 py-8;
  }

  .public-footer-links {
    @apply flex gap-6 text-sm text-muted-foreground;
  }

  .nav-divider {
    border-left: 3px solid black; /* The vertical line */
    height: 100%; /* Makes the line fill the container's height */
    margin: 0 2px; /* Adds some space around the line */
  }

  /* NAV GROUPING */
  .public-nav {
    @apply flex items-center gap-6;
  }

  .nav-main {
    @apply flex items-center gap-6;
  }
  .nav-mobile {
    @apply hidden;
  }

  .nav-auth {
    @apply flex items-center gap-4;
  }

  .mobile-auth {
    @apply hidden;
  }

  /* HAMBURGER */
  .nav-hamburger {
    @apply hidden text-xl;
  }

  /* TABLET */
  @media (max-width: 640px) {
    .nav-main {
      @apply hidden;
    }

    .nav-mobile {
      @apply flex items-center gap-6;
    }

    .nav-hamburger {
      @apply inline-block;
    }
  }

  /* MOBILE */
  @media (max-width: 420px) {
    .nav-auth {
      @apply hidden;
    }

    .mobile-auth {
      @apply flex items-center gap-4;
    }
  }

  /* DESKTOP DROPDOWN untuk bagian overflow*/
  .nav-dropdown {
    @apply absolute top-full right-0 z-50 mt-2 flex min-w-[220px] flex-col rounded-md border border-border bg-background py-2 shadow-lg;
  }

  .nav-dropdown-item {
    @apply px-4 py-2 text-sm text-muted-foreground transition hover:bg-muted hover:text-foreground;
  }

  /* nav dropdown buat register */
  .nav-dropdown-cta {
    @apply mx-3 mt-2 rounded-md bg-primary px-4 py-2 text-center text-sm font-medium text-primary-foreground transition hover:opacity-90;
  }
}
